.overlay{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.show-overlay{
    opacity: 1;
    visibility: visible;
}
.wishlist {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #ffffff;
    width: 450px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: right 0.4s;
    z-index: 100;
}
.show-wishlist{
    right: 0;
}
.wishlist__product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.wishlist__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem 0 1.5rem;
}

.wishlist__body {
    display: flex;
    flex-direction: column;
    height: 85vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    overflow-x: hidden;
    padding: 0 1.5rem;
}

.wishlist__body::-webkit-scrollbar {
    display: none;
}

.wishlist__body--content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 10px;
    padding:0.75rem 0;
}

.wishlist-img {
    width: 100px;
}

.wishlist__body--info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.625rem;
}

.wishlist__body--info__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.625rem;
    width: 100%;
}
.wishlist__body--title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wishlist__body--title h3 {
    min-width: 220px;
    width: 100%;
    font-size: 1rem;
    line-height: 24px;
}
.wishlist__body--title span{
    min-width: 50px;
    width: 100%;
    margin-left: 1rem;
}
.wishlist__body--color{
    color: #75869c;
    font-size: 0.75rem;
}
.wishlist__body--color span{
    margin-left: 0.5rem;
}
.button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon-button {
    width: 18px;
    height: 18px;
}

.wishlist__actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
}

.add-cart {
    background-color: transparent;
    width: 100%;
    border: 1px solid #01727f;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 0.75rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #0b0b0b;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.625rem;
}

.icon-actions{
    width:20px;
    height: 20px;
}

.button-action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.delete-cart{
    display: flex;
    background-color: transparent;
    border: 1px solid #01727f;
    cursor: pointer;
    border-radius: 10px;
    padding:0.5rem 0.625rem;
}