.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fdfcfc;
    z-index: 100;
    transition: 0.4;
}

.nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 468px) {
    .nav {}
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo--content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #0b0b0b;
    font-size: 1rem;
}

.nav__logo-text {
    color: #01727f;
}

.nav__logo-img {
    width: 30px;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 75%;
        height: 100%;
        padding: 15.2rem 3rem;
        text-align: center;
        box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2);
        background-color: #fdfcfc;
        transition: .5s;
        z-index: 100;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.nav__list-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.button {
    background-color: transparent;
    border: none;
}

.nav__link {
    font-size: 0.875rem;
    color: #02021d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link:hover {
    color: #01727f;
    transition: color 0.4s;
}

.nav__link.active:hover,
.nav__link.active {
    color: #01727f;
    transition: 0.3s;
}

.nav__icons {
    width: 20px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .nav__toggle {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        gap: 1.5rem;
    }

    .nav__link {
        font-size: 0.875rem;
        color: #02021d;
    }
    .nav__list-icons{
        gap: 1.5rem;
    
    }
}


.scrolled {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.nav__cart {
    background-color: transparent;
    border: none;
}

.nav__items {
    position: relative;
    z-index: 99;
}

.button-item__badge {
    position: absolute;
    top: -10px;
    right: -8px;
    width: 15px;
    height: 15px;
    background-color: #098f9e;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    cursor: pointer;
}

.dropdown__button {
    background-color: transparent;
    border: none;
}

.dropdown__menu {
    position: absolute;
    top: 30px;
    right: 10px;
    max-height: 180px;
    min-width: 200px;
    border-radius: 8px;
    background-color: #ffffff;
    display: none;
    padding: 16px;
    box-shadow:
        0 5px 30px rgba(27, 31, 35, 0.1),
        0 0 1px rgba(27, 31, 35, 0.4),
        0 1px 2px rgba(27, 31, 35, 0.15);
    z-index: 2;
    animation: fadeIn 0.2s ease-in-out;
}

.dropdown__active {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.99) translateY(-0.7em);
        transform-origin: top;
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.dropdown__menu--item {
    display: flex;
    gap: 1rem;
    font-size: 0.875rem;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    cursor: pointer;
    color: #0b0b0b;
}

.dropdown__menu--item:hover {
    color: #01727f;
    transition: color 0.4s;
}

.dropdown__button--item {
    background-color: transparent;
    border: none;
    font-size: 0.875rem;
}

.icon-out {
    font-size: 20px;
    cursor: pointer;
}