.sign__up{
    padding-bottom: 4rem;
}
.sign__up--container{
    place-content: center;
    height: 100%;
}
.sign__up--content{
    width:500px;
}
.sign__up--title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.sign-up-wrap{
    position:  relative;
    margin-bottom:1rem;
}
.sign-up-wrap .sign-up-input{
    width:100%;
    border-radius:10px;
    font-size:14px;
    height:45px;
    padding: 0 15px;
    border: 2px solid #E3E5ED;
    background-color: transparent;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
.sign-up-wrap .sign-up-label{
    position: absolute;
    top:50%;
    left:15px;
    transform: translateY(-50%);
    color: #B7BAC9;
    font-size:16px;
    pointer-events: none;
    transition: .3s;
}

input:focus~.sign-up-label,
input:not(:placeholder-shown)~.sign-up-label{
    top:0;
    left:15px;
    font-size: 14px;
    padding: 0 2px;
    background-color: #ffffff;
    outline: none;
    color: #3184FF;
}
.sign-up-submit{
    width:100%;
    height:45px;
    border-radius:10px;
    background-color: #01727f;
    color:#ffffff;
    font-size:16px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}
.sign-up-submit:hover{
    background-color: #015c6f;
}
.sign-up-buton{
    margin-bottom: 1.5rem;
}
.sign-up-text{
    font-size: 14px;
    line-height: 22px;
}
.sign-up-text a{
    text-decoration: underline;
    cursor: pointer;
}
