<div class="products-container grid" *ngIf="productsList.length >= 0">
     <app-card-produts *ngFor="let products of productsList.slice(startWith,visibilityProductsCount)" [products]="products"></app-card-produts>
</div>
<div class="load-products"> 
     <button class="load-button" type="button" (click)="loadProducts()" [disabled]="isLoading">
         <span *ngIf="!isLoading">cargar más productos</span>
          <div class="loader" *ngIf="isLoading">
               <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
               </div>
          </div>
     </button>
</div>
