<div class="products-container grid" *ngIf="productsList.length >= 0">
     <app-card-produts *ngFor="let products of productsList.slice(startWith,visibilityProductsCount)" [products]="products"></app-card-produts>
</div>
<div class="load-products"> 
     <button class="load-button" type="button" (click)="loadProducts()" [disabled]="isLoading">
         <span *ngIf="!isLoading">cargar más productos</span>
          <div class="loader" *ngIf="isLoading">
               <div>
                    <div class="sk-chase">
                         <div class="sk-chase-dot"></div>
                         <div class="sk-chase-dot"></div>
                         <div class="sk-chase-dot"></div>
                         <div class="sk-chase-dot"></div>
                         <div class="sk-chase-dot"></div>
                         <div class="sk-chase-dot"></div>
                    </div>
               </div>
               <p class="loader-text">Cargando...</p>
          </div>
     </button>
</div>
