
<div *ngIf="!notFound">
     <div  class="products-container grid">
          <app-card-produts *ngFor="let products of productsList.slice(startWith,visibilityProductsCount)"
          [products]="products"></app-card-produts>
     </div>
     
     <div class="load-products" *ngIf="!loadingProducts">
          <button class="load-button" type="button" (click)="loadProducts()" [disabled]="isLoading">
               <span *ngIf="!isLoading">cargar más productos</span>
               <div class="loader" *ngIf="isLoading">
                    <div>
                         <div class="sk-chase">
                              <div class="sk-chase-dot"></div>
                              <div class="sk-chase-dot"></div>
                              <div class="sk-chase-dot"></div>
                              <div class="sk-chase-dot"></div>
                              <div class="sk-chase-dot"></div>
                              <div class="sk-chase-dot"></div>
                         </div>
                    </div>
                    <p class="loader-text">Cargando...</p>
               </div>
          </button>
     </div>
</div>
<div *ngIf="notFound">
     <div class="empty">
          <div class="empty-container">
               <p class="empty-message">Lo sentimos, no encontramos resultados para este producto.</p>
               <span class="empty-text"> Tal vez su búsqueda fue demasiado específica, intente buscar con un término más general.</span>
               <img src="../../../../../assets/icon/no-searching.svg" alt="empty" class="empty-img">
          </div>
     </div>
</div>