.checkout__back {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
}

/*========== FORM CONTACT=========*/
.checkout-divider__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

.checkout-divider {
    background-color: #E3E5ED;
    height: .0625rem;
    width: 100%;
}

.checkout__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkout__box:nth-child(1) {
    grid-column: 1/3;
}

.checkout__box:nth-child(2) {
    grid-column: 1/3;
}

.checkout-title {
    font-size: 1rem;
    color: #1D1F32;
    margin-bottom: 32px;
    font-family: 'Poppins', sans-serif;
}

.checkout__box .checkout__input {
    width: 100%;
    border-radius: .625rem;
    font-size: .875rem;
    height: 2.8125rem;
    padding: 0 .9375rem;
    border: .0625rem solid #E3E5ED;
    background-color: transparent;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.checkout__box .checkout__label {
    color: #75869C;
    font-size: .875rem;
}

.checkout__wrap,
.shipping-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 24px;
}

/*========= FORM ADDRESS =========*/

.checkout-title {
    font-size: 1rem;
    color: #1D1F32;
    margin-bottom: 32px;
    font-family: 'Poppins', sans-serif;
}

.shipping__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.shipping__box:nth-child(1),
.shipping__box:nth-child(2),
.shipping__box:nth-child(3),
.shipping__box:nth-child(4),
.shipping__box:nth-child(5),
.shipping__box:nth-child(6),
.shipping__box:nth-child(7) {
    grid-column: 1/3;
}

.shipping__box .checkout__input {
    width: 100%;
    border-radius: .625rem;
    font-size: .875rem;
    height: 2.8125rem;
    padding: 0 .9375rem;
    border: .0625rem solid #E3E5ED;
    background-color: transparent;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.shipping__box .checkout__label {
    color: #75869C;
    font-size: .875rem;
}

.error {
    border: .0625rem solid #bd0c0c;
}

.errors-message {
    font-size: 12px;
    color: #bd0c0c;
}

/*========= FORM CHECKOUT =========*/
.divider {
    background-color: #E3E5ED;
    height: .0625rem;
    width: 100%;
    margin: 40px 0;
}

.pay-header__title {
    font-size: 18px;
    color: #1D1F32;
    margin-bottom: 12px;
    font-family: 'Poppins', sans-serif;
}

.pay-header__text {
    font-size: 14px;
    color: #75869C;
    margin-bottom: 24px;
    font-family: 'Poppins', sans-serif;
}

.pay__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

}


.pay__box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media screen and (min-width: 539px) {
    .pay__options-box {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width:767px) {

    .shipping__box:nth-child(2),
    .shipping__box:nth-child(3),
    .shipping__box:nth-child(5),
    .shipping__box:nth-child(6) {
        grid-column: initial;
    }

    .shipping__box:nth-child(1) {
        grid-column: 1/3;
    }

    .shipping__box:nth-child(4) {
        grid-column: 1/3;
    }

    .shipping__box:nth-child(7) {
        grid-column: 1/3;
    }

    .pay__options-box {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .pay__content {
        grid-template-columns: repeat(4, 1fr);
    }

    .pay__box:nth-child(1),
    .pay__box:nth-child(2) {
        grid-column: 1/5;
    }

    .pay__box:nth-child(3) {
        grid-column: 1/3;
    }

    .pay__box:nth-child(4) {
        grid-column: 3/5;
    }

    .pay__box:nth-child(5) {
        grid-column: 1/5;
    }
}

@media screen and (min-width: 1123px) {
    .pay__content {
        grid-template-columns: repeat(6, 1fr);
    }

    .pay__box:nth-child(1),
    .pay__box:nth-child(2) {
        grid-column: 1/7;
    }

    .pay__box:nth-child(3) {
        grid-column: 1/3;
    }

    .pay__box:nth-child(4) {
        grid-column: 3/5;
    }

    .pay__box:nth-child(5) {
        grid-column: 5/7;
    }
}

.pay__label {
    color: #75869C;
    font-size: .875rem;
}

.pay-title {
    font-size: 1rem;
    color: #1D1F32;
    margin-bottom: 32px;
    font-family: 'Poppins', sans-serif;
}

.pay__input {
    width: 100%;
    border-radius: .625rem;
    font-size: .875rem;
    height: 2.8125rem;
    padding: 0 .9375rem;
    border: .0625rem solid #E3E5ED;
    background-color: transparent;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.options-img {
    width: 3.125rem;
}

.pay__options {
    border: .0625rem solid #E3E5ED;
    border-radius: .625rem;
    padding: 12px;
}

.pay__options-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}


.pay__options-text {
    font-size: .875rem;
    color: #1D1F32;
}

.pay-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.pay-img .options-img:nth-child(3) {
    width: 5rem;
    height: 2.5rem;
}

.checkout__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;

}

.checkout-group__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 96px;
}

.checkout__submit {
    background-color: #10727F;
    color: #ffffff;
    border-radius: .625rem;
    padding: 12px;
    font-size: .875rem;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 9.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;

}

.checkout__submit {
    background-color: #10727F;
    color: #ffffff;
    border-radius: .625rem;
    padding: 12px;
    font-size: .875rem;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 9.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: #3184FF;
    cursor: pointer;

}

.previus-icon {
    font-size: 20px;
    color: #3184FF;
}