<article>
    <ng-container *ngIf="currentStep === 1">
        <form class="form__content" [formGroup]="checkoutForm" (ngSubmit)="next()">
            <div class="form-checkout">
                <div class="form__data--client">
                    <checkout-fast></checkout-fast>
                    <div class="checkout-divider__content">
                        <div class="checkout-divider"></div>
                        <p class="checkout-text">o</p>
                        <div class="checkout-divider"></div>
                    </div>
                    <h4 class="checkout-title">Información de contacto</h4>
                    <div class="checkout__wrap">
                        <div class="checkout__box">
                            <label for="email" class="checkout__label">Correo electronico:</label>
                            <input type="text" class="checkout__input" id="email" formControlName="email"
                                autocomplete="off">
                            <span class="errors-message" *ngIf="isValid('email')">{{getFieldError("email")}}</span>
                        </div>
                        <div class="checkout__box">
                            <label for="phone" class="checkout__label">Teléfono:</label>
                            <input type="text" class="checkout__input" id="phone" formControlName="phone"
                                autocomplete="off">
                            <span class="errors-message" *ngIf="isValid('phone')">{{getFieldError("phone")}}</span>
                        </div>
                    </div>
                </div>
                <div class="form__shipping--address">
                    <h4 class="checkout-title">Dirección de envío</h4>
                    <div class="shipping-wrap">
                        <div class="shipping__box">
                            <label for="region" class="checkout__label">Departamento</label>
                            <input type="text" id="region" formControlName="region" class="checkout__input">
                            <span class="errors-message" *ngIf="isValid('region')">{{getFieldError("region")}}</span>
                        </div>
                        <div class="shipping__box">
                            <label for="firtsName" class="checkout__label">Nombres</label>
                            <input type="text" id="firtsName" formControlName="firtsName" class="checkout__input">
                            <span class="errors-message"
                                *ngIf="isValid('firtsName')">{{getFieldError("firtsName")}}</span>
                        </div>
                        <div class="shipping__box">
                            <label for="lastName" class="checkout__label">Apellidos</label>
                            <input type="text" id="lastName" formControlName="lastName" class="checkout__input">
                            <span class="errors-message"
                                *ngIf="isValid('lastName')">{{getFieldError("lastName")}}</span>
                        </div>
                        <div class="shipping__box">
                            <label for="address" class="checkout__label">Dirección</label>
                            <input type="text" id="address" formControlName="address" class="checkout__input">
                            <span class="errors-message" *ngIf="isValid('address')">{{getFieldError("address")}}</span>
                        </div>
                        <div class="shipping__box">
                            <label for="city" class="checkout__label">Ciudad</label>
                            <input type="text" id="city" formControlName="city" class="checkout__input" >
                            <span class="errors-message" *ngIf="isValid('city')">{{getFieldError("city")}}</span>
                        </div>
                        <div class="shipping__box">
                            <label for="district" class="checkout__label">Distrito</label>
                            <input type="text" id="district" formControlName="district" class="checkout__input">
                            <span class="errors-message" *ngIf="isValid('district')">{{getFieldError("district")}}</span>
                        </div>
                        <div class="shipping__box">
                            <label for="reference" class="checkout__label">Referencias</label>
                            <input type="text" id="reference" formControlName="reference" class="checkout__input">
                            <span class="errors-message"
                                *ngIf="isValid('reference')">{{getFieldError("reference")}}</span>
                        </div>
                    </div>
                </div>
                <div class="checkout__button">
                    <button type="submit" class="checkout__submit">Siguiente</button>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="currentStep === 2">
        <div class="pay__flex">
            <form class="pay" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
                <div class="pay__content">
                    <div class="pay__box">
                        <label for="cardName" class="pay__label">Nombre Completo</label>
                        <input type="text" class="pay__input" formControlName="cardName" id="cardName"
                            placeholder="e.g. Nombre Completo" maxlength="24" />
                        <span class="errors-message" *ngIf="isVaidPayment('cardName')">{{getFieldErrorPayment('cardName')}}</span>
                    </div>
                    <div class="pay__box">
                        <label for="cardNumber" class="pay__label">Número</label>
                        <input type="text" class="pay__input" formControlName="cardNumber" id="cardNumber"
                            placeholder="e.g. 4557 9856 3622 8959" maxlength="19"  />
                            <span class="errors-message" *ngIf="isVaidPayment('cardNumber')">{{getFieldErrorPayment("cardNumber")}}</span>
                    </div>
                    <div class="pay__box">
                        <label for="cardMonth" class="pay__label">Mes</label>
                        <select class="pay__input" id="cardMonth" formControlName="cardMonth">
                            <option disabled selected value="">Mes</option>
                            <option *ngFor="let month of month" value="month">{{month}}</option>
                        </select>
                        <span class="errors-message" *ngIf="isVaidPayment('cardMonth')">{{getFieldErrorPayment("cardMonth")}}</span>
                    </div>
                    <div class="pay__box">
                        <label for="cardYear" class="pay__label">Año</label>
                        <select class="pay__input" id="cardYear" formControlName="cardYear">
                            <option disabled selected value="">Año</option>
                            <option *ngFor="let year of year" [value]="year">{{year}}</option>
                        </select>
                        <span class="errors-message" *ngIf="isVaidPayment('cardYear')">{{getFieldErrorPayment("cardYear")}}</span>
                    </div>
                    <div class="pay__box">
                        <label for="cardCvv" class="pay__label">Código de Seguridad</label>
                        <input type="text" class="pay__input" id="cardCvv" formControlName="cardCvv" placeholder="CVV"
                            maxlength="4" />
                            <span class="errors-message" *ngIf="isVaidPayment('cardCvv')">{{getFieldErrorPayment("cardCvv")}}</span>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <div class="checkout-group__button">
                <a class="previus" (click)="previus()">
                    <img src="../../../../../assets/icon/Arrow.svg" alt="arrow">
                    <p>volver a la información</p>
                </a>
            </div>
            <div class="checkout__button">
                <button type="submit" class="checkout__submit" (click)="onSubmit()">Pagar</button>
            </div>
        </div>
    </ng-container>
</article>
<strong>FormGroup.value
    <pre>{{ checkoutForm.value | json}}</pre>
    <p> status: {{checkoutForm.status }}</p>
</strong>
<strong>FormGroup.value
    <pre>{{ paymentForm.value | json}}</pre>
    <p> status: {{paymentForm.status }}</p>
</strong>