.products-body{
    padding: 7rem 0 1rem;
    width:100%;
}
.products-section{
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap:2.5rem;
}
.aside{
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f5f6f8;
    position: sticky;
    top: 4rem;
}
.aside-title{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.list__products{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.search-filter__producst{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}