<section class="container products-section products-body">
    <aside class="aside">
        <div class="aside-section">
            <div class="aside-title">
                <p class="title">Categorias</p>
            </div>
            <div class="aside__category">
                <div class="aside__category--item">
                    <p class="aside__category--item__text">Polos</p>
                    <p class="aside__category--item__name">300</p>
                </div>
                <div class="aside__category--item">
                    <p class="aside__category--item__text">Chompas</p>
                    <p class="aside__category--item__name">200</p>
                </div>
                <div class="aside__category--item">
                    <p class="aside__category--item__text">Zapatillas urbanas</p>
                    <p class="aside__category--item__name">100</p>
                </div>
                <div class="aside__category--item">
                    <p class="aside__category--item__text">Casacas clasicas</p>
                    <p class="aside__category--item__name">9</p>
                </div>
                <div class="aside__category--item">
                    <p class="aside__category--item__text">Camisas</p>
                    <p class="aside__category--item__name">50 </p>
                </div>
            </div>
        </div>
        <div class="">

        </div>
    </aside>
    <div class="list__products">
            <!-- <div class="search">
                <app.shared-search>
            </div> -->
        <div class="filters">
            <p>filters</p>
        </div>
        <app-list-products></app-list-products>
    </div>
</section>

