<footer class="footer">
    <div class="footer__container container grid">
        <div class="footer__content">
            <div class="footer__content--box">
                <div class="footer__logo">
                    <img class="footer__logo--img" src="../../../../assets/icon/logo-footer.svg" alt="logo" />
                    <p class="footer__logo-text">ake<span>Store</span></p>
                </div>
                <div class="footer__social">
                    <ul class="footer__social--list">
                        <li class="footer__social--items">
                            <a class="footer__social--links">
                                <img src="../../../../assets/icon/twitter.svg" alt="twitter"
                                    class="footer__social--img" />
                                Twitter
                            </a>
                        </li>
                        <li class="footer__social--items">
                            <a class="footer__social--links">
                                <img src="../../../../assets/icon/facebook.svg" alt="Facebook"
                                    class="footer__social--img" />
                                Facebook
                            </a>
                        </li>
                        <li class="footer__social--items">
                            <a class="footer__social--links">
                                <img src="../../../../assets/icon/instagram.svg" alt="Instagram"
                                    class="footer__social--img" />
                                Instagram
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__box">
            <h4 class="footer__title">Te ayudamos</h4>
            <div class="line"></div>
            <ul class="footer__list">
                <li class="footer__items">
                    <a class="footer__links">Libro de reclamaciones</a>
                </li>
                <li class="footer__items">
                    <a class="footer__links">Atención por WhatsApp</a>
                </li>
                <li class="footer__items">
                    <a class="footer__links">Centro de ayuda</a>
                </li>
                <li class="footer__items">
                    <a class="footer__links">Politicas de prevención de delitos</a>
                </li>
                <li class="footer__items">
                    <a class="footer__links">Seguimiento de orden</a>
                </li>
            </ul>
        </div>
        <div class="footer__box">
            <h4 class="footer__title">Terminos y politicas</h4>
            <div class="line"></div>
            <ul class="footer__list">
                <li class="footer__items">
                    <a class="footer__links">Terminos y condiciones</a>
                </li>
                <li class="footer__items">
                    <a class="footer__links">Politicas de cookies</a>
                </li>
                <li class="footer__items">
                    <a class="footer__links">Politicas de privacidad</a>
                </li>
            </ul>
        </div>
        <div class="footer__box">
            <h4 class="footer__title">Soporte</h4>
            <div class="line"></div>
            <ul class="footer__list">
                <li class="footer__items">
                    <a class="footer__links">Contactanos</a>
                </li>
                <li class="footer__items">
                    <a class="footer__links">Centro de ayuda</a>
                </li>
                <li class="footer__items">
                    <a class="footer__links">FAQs</a>
                </li>
            </ul>
        </div>
        <div class="footer__box">
            <h4 class="footer__title">Contactanos</h4>
            <div class="line"></div>
            <ul class="footer__list">
                <li class="footer__items">
                    <p>Avenida Javier Prado Este 488,<br />San Isidro, Lima, Perú</p>
                </li>
                <li class="footer__items">
                    <p><strong>Telefono:</strong> 961 045 004</p>
                </li>
                <li class="footer__items">
                    <p><strong>Correo:</strong> fakestore@store.com</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy container">
        <p class="copy__text">&#169; @arkey8_</p>
    </div>
</footer>