<!-- <div>
    <div class="pay__flex">
        <form class="pay" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
            <div class="pay__content">
                <div class="pay__box">
                    <label for="cardName" class="pay__label">Nombre Completo</label>
                        <input type="text" class="pay__input" formControlName="cardName" id="cardName"
                            placeholder="e.g. Nombre Completo" maxlength="24" />
                </div>
                <div class="pay__box">
                    <label for="cardNumber" class="pay__label">Número</label>
                        <input type="text" class="pay__input" formControlName="cardNumber" id="cardNumber"
                            placeholder="e.g. 4557 9856 3622 8959" maxlength="19" />
                </div>
                <div class="pay__box">
                    <label for="cardMonth" class="pay__label">Mes</label>
                        <select class="pay__input" id="cardMonth" formControlName="cardMonth">
                            <option disabled selected>Mes</option>
                        </select>
                </div>
                <div class="pay__box">
                    <label for="cardYear" class="pay__label">Año</label>
                        <select class="pay__input" id="cardYear" formControlName="cardYear">
                            <option disabled selected>Año</option>
                        </select>
                </div>
                <div class="pay__box">
                    <label for="cardCvv" class="pay__label">Código de Seguridad</label>
                        <input type="text" class="pay__input" id="cardCvv" formControlName="cardCvv" placeholder="CVV"
                            maxlength="4" />
                </div>
            </div>
        </form>
        <div class="card__bank">
            <img class="card__bank-logo" src="../../../../../assets/icon/card-logo.svg" alt="card">
            <p class="card__bank-number">0000 0000 0000 0000
            <p>
            <div class="card__details">
                <p class="card__details-name">Nombre Completo</p>
                <p><span class="card__month">MM</span>/<span class="card__year">YY</span></p>
            </div>
        </div>
    </div>
    <div>
        <div class="checkout-group__button">
            <a (click)="previousStep()" class="previus">
                <img src="../../../../../assets/icon/Arrow.svg" alt="arrow">
                <p>volver a la información</p>
            </a>
        </div>
        <div class="checkout__button">
            <button class="checkout__submit">Pagar</button>
        </div>
    </div>
</div> -->
