<fieldset class="form-fieldset">
    <legend class="form-legend">Chequeo rápido</legend>
    <div class="checkout-express__content">
        <div class="bg-checkout">
            <img src="../../../../../assets/icon/paypal.svg" alt="express" class="bg-checkout--img">
        </div>
        <div class="bg-checkout">
            <img src="../../../../../assets/icon/gpay.svg" alt="express" class="bg-checkout--img">
        </div>
        <div class="bg-checkout">
            <img src="../../../../../assets/icon/paypal.svg" alt="express" class="bg-checkout--img">
        </div>
    </div>
</fieldset>