.card__product{
    border: 1px solid #eeeaea;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    cursor:pointer;
}
.card__product--img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.card__info{
    padding: 0.375rem 0.75rem 0.75rem 0.75rem;
}
.card__info--title{
    color:#0b0b0b;
    font-size: 0.875rem;
}
.card__info--description{
    color: #75869c;
    font-size: 0.75rem;
    margin: 0.25rem 0;
}
.card__price--text{
    color: #ff0000;
    font-size: 1rem;
}
.card__price--discount{
    font-size: 0.75rem;
    color: #75869c;
    text-decoration: line-through;
}
.card__action{
    padding: 0 0.75rem 0.75rem 0.75rem;
}
.add__button--cart{
    background-color: transparent;
    width: 100%;
    border: 1px solid #01727f;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #0b0b0b;
    transition: background-color 0.2s ease-in-out;
}
.add__button--cart:hover{
    background-color: #01727f;
    color: #ffffff;
}
.add--button--wishlist{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #01727f;
    padding:0.25rem 0.5625rem;
    border-radius: 4px;
    cursor: pointer;
}
.add-wishlist{
    width:24px;
    height: 24px;
    color: #0b0b0b;
}
@media screen and (min-width: 320px) {
    
}