<article>
    <a href="" class="card__product">
        <div class="card__image">
            <img src="{{products.images}}" alt="" class="card__product--img">
        </div>
        <div class="card__info">
            <p class="card__info--title"> {{products.title}}</p>
            <span class="card__info--text">{{truncateString(products.description,45)}}</span>
        </div>
        <div class="card__price">
            <div class="card__price--content">
                <p>{{products.price}}</p>
                <span>245</span>
            </div>
            <div class="card__action--content">
                <button type="button" class="add__button--cart">Agregar al carrito</button>
            </div>
        </div>
    </a>
</article>