<article>
    <div class="card__product">
        <a (click)="showDetails()">
            <img [src]="products | productsImage" [alt]="products.title" class="card__product--img">
            <div class="card__info">
                <h3 class="card__info--title"> {{products.title}}</h3>
                <p class="card__info--description">{{truncateString(products.description, 50)}}</p>
                <div class="card__price">
                    <p class="card__price--text">{{products.price | currency:'S/.&nbsp;':'symbol-narrow'}}</p>
                    <p class="card__price--discount">{{ products.price + 90 | currency:'S/.&nbsp;':'symbol-narrow'}}</p>
                </div>
            </div>
        </a>
        
        <div class="card__action">
            <button type="button" class="add__button--cart" (click)="onAddToCart()">Agregar al carrito</button>
        </div>
    </div>
</article>