<article class="content__img">
    <div class="content__header">
        <h2 class="content__title section__title"><span>Fake</span>Store en todo momento</h2>
        <p>@FakeStore</p>
    </div>
    <div class="content__container container grid">
        <img src="../../../../../assets/img/Photo1.png" alt="photo1" class="img-fluid">
        <img src="../../../../../assets/img/Photo2.png" alt="photo2" class="img-fluid">
        <img src="../../../../../assets/img/Photo3.png" alt="photo3" class="img-fluid">
        <img src="../../../../../assets/img/Photo4.png" alt="photo4" class="img-fluid">
    </div>
</article>