.content__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap:1.375rem; */
}
.content__header p{
    color:#697896;
    text-align: center;
}
.content__title{
    margin-bottom: 3rem;
    line-height: 140%;
}
.content__title span{
    color:#01727f;
}
.content__container{
    grid-template-columns: repeat(2,max-content);
    justify-content: center;
    column-gap: 1.25rem;
    margin-top:3rem;
}
.img-fluid{
    width:120px;
}
@media screen and (max-width: 340px) {
    .content__container{
        grid-template-columns: repeat(2,110px);
        row-gap: 0.5rem;
    }
}
@media screen and (min-width: 576px) {
    .img-fluid{
        width:150px;
    }
}
@media screen and (min-width: 767px) {
    .content__container{
        grid-template-columns: repeat(3,max-content);
    }
    .img-fluid{
        width:180px;
    }
}
@media screen and (min-width: 1124px) {
    .content__container{
        grid-template-columns: repeat(4,max-content);
        column-gap: 2.5rem;
    }
    .img-fluid{
        width: 200px;
    }
}