.content__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1.375rem;
}
.content__header p{
    color:#697896;
    font-size:1.125rem;
    text-align: center;
}
.content__title{
    margin-bottom: 1.5rem;
}
.content__title span{
    color:#01727f;
}
.content__container{
    grid-template-columns: repeat(4,max-content);
    justify-content: center;
    gap:1.875rem;
    margin-top:3rem;
}
.img-fluid{
    width:231px;
    /* height:100%; */
    object-fit: cover;
}