.checkout__container{
    max-width:1200px;
    margin: 0 1.25rem;
}
.checkout__grid{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap:1.5rem;  
}

.checkout__information{
    width: 100%;
    border: 1px solid #E3E5ED;
    border-radius: 10px;
    padding: 1.25rem;
    margin-bottom: 2rem;
}
.checkout__products{
    width:100%;
}
@media screen and (min-width: 767px) {
    .checkout__container{
        margin: 0 0.875rem;
    }
    .checkout__information{
        width: calc(100% - 300px);
    }
   .checkout__products{
         width:300px;
   }
    .checkout__grid{
       flex-direction: row; 
        justify-content: flex-start;
    }
}
@media screen and (min-width: 1123px) {
    .checkout__container{
        margin: 0 auto;
    }
    .checkout__information{
        width: calc(100% - 395px);
    }
    .checkout__products{
        width:370px;
    }
}
.checkout__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;

}
.checkout__submit {
    background-color: #10727F;
    color:#ffffff;
    border-radius: 10px;
    padding: 0.75rem;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border:none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-img{
    width: 20px;
    height: 20px;
}
.checkout__back{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:0.5rem;
    margin-bottom: 1rem;
}