<main class="main">
    <section class="checkout section">
        <div class="checkout__container">
            <a [routerLink]="['/fakestore/products']">
                <img src="../../../assets/icon/Arrow.svg" alt="arrow">
                atras
            </a>
            <div class="checkout__grid">
                <div class="checkout__information">
                    <app-form></app-form>
                    <app-payment></app-payment>
                </div>
                <div class="checkout__products">
                    <app-order-details></app-order-details>
                </div>
            </div>
        </div>
    </section>
    <section class="payment container">
        <h3 class="checkout__title">Opciones de Pago</h3>
        <div class="">

        </div>
    </section>
</main>